:root {
    --primary-color: #75BF7A
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* nav */

nav {
    width: 1440px;
    height: 174px;
    text-align: center;

    img {
        width: 180px;
        height: 51px;
    }

    a {
        font-size: 17px;
        font-weight: 600;
        color: #000;
    }

    .btn {
        background-color: var(--primary-color);
        border: none;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        height: 50px;
        width: 182px;
    }
}

/* main */

.download {
    a {
        background-color: black;
        text-align: center;
        border: none;
        font-weight: 800;
        font-size: 25px;
        width: 260px;
        height: 67px;
        padding: 12px;
    }
}

.phone-number {
    background-color: var(--primary-color);
    padding: 55px 70px;
    margin: 86px 80px 128px;
    border-radius: 8px;

    .btn {
        background-color: black;
        color: #FFF;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        width: 260px;
        height: 67px;

        &:hover {
            background-color: #0d6efd;
            color: #FFF;
        }
    }

    input {
        width: 499px;
        height: 67px;
        font-weight: 600;
        font-size: 20px;
        padding: 30px 208px 30px 20px;
        border: none;
        border-radius: 8px;
        margin-right: 11px;
    }

    p {
        color: #FFF;
        font-weight: 600;
        font-size: 25px;
    }

}